<div class="d-flex full-height darkgrey" id="wrapper">
  <div class="sidebar" id="sidebar-wrapper">
    <div class="list-group list-group-flush sidebar-item">
      <a class="list-group-item list-group-item-action sidebar-item" routerLink="/admin/books"> Books </a>
      <a class="list-group-item list-group-item-action sidebar-item" routerLink="/admin/reviews"> Reviews </a>
      <a class="list-group-item list-group-item-action sidebar-item" routerLink="/admin/users"> Users </a>
      <a class="list-group-item list-group-item-action sidebar-item" routerLink="/admin/achievements"> Achievements </a>
      <a class="list-group-item list-group-item-action sidebar-item" routerLink="/admin/authors"> Authors </a>
      <a class="list-group-item list-group-item-action sidebar-item" routerLink="/admin/comments"> Comments </a>
      <a class="list-group-item list-group-item-action sidebar-item" routerLink="/admin/genres"> Genres </a>
      <a class="list-group-item list-group-item-action sidebar-item" routerLink="/admin/shops"> Shops </a>
      <a class="list-group-item list-group-item-action sidebar-item" routerLink="/admin/items"> Items </a>
      <a class="list-group-item list-group-item-action sidebar-item" routerLink="/admin/statistics"> Statistics </a>
    </div>
  </div>
</div>
