<ng-template #editAchievement let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-edit-achievement">Edit Achievement</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="registerForm" (ngSubmit)="onEditAchievement()">
      <div class="form-group flex-column">

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="ID" aria-label="ID" matInput value="{{currentAchiev._id}}" readonly disabled>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input formControlName="text" type="text" placeholder="Name" aria-label="Name" matInput value="{{currentAchiev.text}}">
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width">
          <input formControlName="points" type="number" placeholder="Points" aria-label="Name" matInput value="{{currentAchiev.points}}">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <input formControlName="rank" type="number" placeholder="Rank" aria-label="Name" matInput value="{{currentAchiev.rank}}">
        </mat-form-field>

      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-outline-dark">Submit</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #newAchievement let-modalnew>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-new-achievement">New Achievement</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newAchievementForm" (ngSubmit)="onNewAchievement()">
      <div class="form-group flex-column">
        <br>
        <mat-form-field class="example-full-width">
          <input formControlName="text" type="text" placeholder="Text" aria-label="text" matInput value="">
        </mat-form-field>
      </div>

      <div class="form-group flex-column">
        <br>
        <mat-form-field class="example-full-width">
          <input formControlName="points" type="number" placeholder="Points" aria-label="text" matInput value="">
        </mat-form-field>
      </div>

      <div class="form-group flex-column">
        <br>
        <mat-form-field class="example-full-width">
          <input formControlName="rank" type="number" placeholder="Rank" aria-label="text" matInput value="">
        </mat-form-field>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-outline-dark">Submit</button>
      </div>
    </form>
  </div>
</ng-template>

<div class="d-flex container-full full-height" id="wrapper">
  <app-admin-sidebar></app-admin-sidebar>

  <div class="mt-3 ml-3 container-80">
    <h2>Achievements</h2>


  <div>
    <span class="table-add float-right mb-3 mr-lg-n5">
      <a class="text-success">
        <button mat-raised-button color="primary" class="btn btn-outline-primary mr-lg-5" size="sm" (click)="openModal(newAchievement, 'modalnew')">New Achievement</button>
      </a>
    </span>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 container-full">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element">
        <!--<a [routerLink]="['/assignments', element._id]"> {{element.name}}</a>-->
        <a> {{element._id}} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element">
        <!--<a [routerLink]="['/assignments', element._id]"> {{element.name}}</a>-->
        <a> {{element.text}} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let element">
        <!--<a [routerLink]="['/assignments', element._id]"> {{element.name}}</a>-->
        <a> {{element.rank}} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef> Points </th>
      <td mat-cell *matCellDef="let element">
        <!--<a [routerLink]="['/assignments', element._id]"> {{element.name}}</a>-->
        <a> {{element.points}} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="remove(element._id)">Delete</button>
        &nbsp;
        <button mat-raised-button color="primary" (click)="openEditAchievement(element)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
</div>
