<div class="intro-2 rgba-gradient full-height">
<div class="full-bg-img container-full full-height main-page">
  <div class="container flex-center container-full">
    <div class="row flex-center pt-5 mt-3 container-full">
      <div class="col-md-6 text-center text-md-left margins container-full">
        <div class="white-text container-full" >
          <h1 class="h1-responsive wow fadeInLeft main-item" data-wow-delay="0.3s">The world's best tracking tool for books</h1>
          <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
          <h6 class="wow fadeInLeft main-item" data-wow-delay="0.3s">
            With Bookify you will be able to track your books, find new books and share your emotion and thoughts
            on them with all the community.
            <br>
            <br>
            You will get suggestions based on your preferences.
          </h6>
          <br>
          <!--<a mdbBtn color="white" outline="true" class="wow fadeInLeft" data-wow-delay="0.3s">Learn more</a>-->
          <button mat-raised-button color="Accent" (click)="ads">Download <span class="fa fa-apple"></span></button>
          &nbsp;
          <button mat-raised-button color="Accent" (click)="ads">Download <span class="fa fa-android"></span></button>
          <!--<a mdbBtn color="white" outline="true" class="wow fadeInLeft" data-wow-delay="0.3s">Download-->
            <!--<i class="fab fa-android left right" aria-hidden="true"></i>-->
            <!--<i class="fab faapple left" aria-hidden="true"></i>-->
            <!--<i class="fab fawindows" aria-hidden="true"></i>-->
          <!--</a>-->
        </div>
      </div>

      <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
        <img src="../../../assets/PhoneLayout.png" alt="" class="img-responsive halved">
      </div>
    </div>
  </div>
</div>
</div>
