<div class="dark-theme full-height">
  <nav class="navbar navbar-expand-lg navbar-light bg-light stroke fixed-top navbar-default navbar-static-top">

    <a class="navbar-brand" href="#">
      <!--<img src="../assets/UdL_small.png" width="40" height="30" class="img-responsive" alt="Brand">-->
      B O O K I F Y
    </a>

    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="#">Home</a>
      </li>
      <li>
        <a class="nav-link" href="admin">Admin</a>
      </li>
    </ul>
  </nav>

  <!--<header class="intro-header container-full">-->
  <!--Intro Section-->
  <!--<section class="view intro-2 rgba-gradient container-full">-->

  <!--</section>-->

  <!--</header>-->
  <router-outlet></router-outlet>
  </div>
